<%- include("partials/_header") %>
<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">

            <h2>Hizmetlerimiz</h2>
            <p><a href="/">Ana Sayfa</a> &nbsp; / &nbsp; Hizmelerimiz</p>

        </div>
    </div>
</section>
<!--  services section -->
<section class="w3l-servicesblock1" id="service">
    <div class="features-with-17_sur py-5">
        <div class="container py-lg-5 py-sm-4">
            <div class="features-with-17-top_sur">
                <div class="row">
                    <div class="col-lg-4 col-md-6 align-self">
                        <h3 class="title-small">Lüx Otel Hizmetlerimiz</h3>
                        <p>Yüksek standartlarda lüks otel hizmetlerimizle konforunuzu ön planda tutuyoruz. Her detayda mükemmeliyeti hedefleyerek, size unutulmaz bir konaklama deneyimi sunuyoruz.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-bed" aria-hidden="true"></span>
                            </div>
                            <div class="features-with-17-left2">
                                <h5>Spor Salonu</h5>
                                <h6><a href="">Yüzme Havuzu</a></h6>
                                <p>En kaliteli ekipmanlar ve deneyimli Spor koçlarımızla haftanın 7 günü hizmetinizde.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-beer" aria-hidden="true"></span>
                            </div>
                            <div class="features-with-17-left2">
                                <h5>Yiyecek ve İçecekler</h5>
                                <h6><a href="/menus">Restorant ve Bar</a></h6>
                                <p>Türkiye'nin ve dünyanın dört bir yanından yiyecek ve içeçek seçenekleri ile hizmetinizdeyiz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-wifi" aria-hidden="true"></span>
                            </div>
                            <div class="features-with-17-left2">
                                <h5>Konaklama</h5>
                                <h6><a href="">Yüksek Hızlı Wifi</a> </h6>
                                <p>Türkiye'nin en hızlı internet hizmeti ile her zaman işlerinizi halledebilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-bed" aria-hidden="true"></span>
                            </div>
                            <div class="features-with-17-left2">
                                <h5>Rahatlık</h5>
                                <h6><a href="/rooms">Dinlenme</a> </h6>
                                <p>Kendinize ege'nin muhteşem doğasında rahatlamak için bir fırsat tanıyın.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                        <div class="features-with-17-right-tp_sur">
                            <div class="features-with-17-left1">
                                <span class="fa fa-headphones" aria-hidden="true"></span>
                            </div>
                            <div class="features-with-17-left2">
                                <h5>Güvenlik </h5>
                                <h6><a href="/ourTeam">7/24</a> </h6>
                                <p>Türkiye'nin en iyi güvenlik kadrosuyla kendinizi güvende hissedin.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-stats">
    <div class="main-w3 py-5">
        <div class="container py-lg-3">
            <div class="row align-items-center">
                <div class="col-md-6 title">
                    <h3 class="title-big">Otel Hizmetleri</h3>
                    <img src="/images/facilities.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 main-cont-wthree-fea text-center">
                    <div class="row">
                        <div class="col-6 pr-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-television"></span>
                                <h3 class="title-spe">Tv</h3>
                                <p> Kablosuz Tv</p>
                            </div>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-motorcycle"></span>
                                <h3 class="title-spe">Bisiklet</h3>
                                <p>Turları</p>
                            </div>
                        </div>
                        <div class="col-6 pr-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-cutlery"></span>
                                <h3 class="title-spe">Yiyecekler</h3>
                                <p>Dahil</p>
                            </div>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-bed"></span>
                                <h3 class="title-spe">Yatak</h3>
                                <p>Kral Boy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="w3l-feature-2">
    <div class="grid top-bottom py-5">
        <div class="container py-md-5">
            <h3 class="title-big text-center">Hizmetlerimiz Sizler İçin Özenle Hazırlandı</h3>
            <div class="middle-section row mt-lg-5 pt-md-3">
                <div class="three-grids-columns col-lg-4 col-md-6">
                    <img src="/images/slide1.jpg" alt="" class="img-fluid">
                    <div class="info">
                        <h4><a href="/rooms"> Odalarımız</a></h4>
                        <p>Her biri özenle tasarlanmış odalarımız, konfor ve şıklığı bir araya getirir. Modern olanaklarla donatılmış odalarımız, size huzurlu bir dinlenme alanı sunar.</p>
                        <a href="/services" class="btn mt-4">Daha Fazla </a>
                    </div>
                </div>
                <div class="three-grids-columns col-lg-4 col-md-6 mt-md-0 mt-4">
                    <img src="/images/slide2.jpg" alt="" class="img-fluid">
                    <div class="info">
                        <h4> <a href="/menus"> Menümüz </a></h4>
                        <p>Zengin ve lezzetli seçeneklerle hazırlanan menümüz, damak zevkinize hitap eden çeşitli yemekler sunar.</p>
                        <a href="/services" class="btn mt-4">Daha Fazla</a>
                    </div>
                </div>
                <div class="three-grids-columns col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <img src="/images/slide3.jpg" alt="" class="img-fluid">
                    <div class="info">
                        <h4> <a href="/ourTeam"> Kadromuz </a></h4>
                        <p>Profesyonel ve misafirperver kadromuz, her anınızı unutulmaz kılmak için burada.</p>
                        <a href="/services" class="btn mt-4">Daha Fazla </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<%- include("partials/_footer") %>